# backend
__pycache__/
.env
.static
.media
poetry.lock
.volumes
migrations
!migrations/__init__.py
.pytest_cache
.cov_html
.coverage

# infrastructure
.ssh
.terraform
.terraform.lock.hcl
.backend.hcl
.secrets.auto.tfvars

# scripts
node_modules
yarn.lock
