digitalocean = {
  token             = ""
  spaces_access_id  = ""
  spaces_secret_key = ""
}

cloudamqp = {
  api_key = ""
}

circleci = {
  api_token    = ""
  vcs_type     = ""
  organization = ""
}

aws = {
  region     = ""
  access_key = ""
  secret_key = ""
}

circleci_contexts = {

  common = {
    CIRCLE_TOKEN       = ""
    CIRCLE_OWNER_ID    = ""
    DOCKERHUB_USERNAME = ""
    DOCKERHUB_PASS     = ""

    DJANGO_SETTINGS_MODULE = "src.settings.base"
    DJANGO_SECRET_KEY      = "changemewithstrongsecertkey"
    POSTGRES_DB            = "circle_test"
    POSTGRES_USER          = "postgres"
    POSTGRES_PASSWORD      = ""
    POSTGRES_HOST          = "localhost"
    POSTGRES_PORT          = "5432"
  }

  development = {

    DJANGO_SETTINGS_MODULE = "src.settings.development"

    DJANGO_SECRET_KEY = ""

    DJANGO_SUPERUSER_EMAIL    = ""
    DJANGO_SUPERUSER_USERNAME = ""
    DJANGO_SUPERUSER_PASSWORD = ""

    POSTGRES_DB       = ""
    POSTGRES_HOST     = ""
    POSTGRES_PASSWORD = ""
    POSTGRES_PORT     = ""
    POSTGRES_USER     = ""

    SPACE_ACCESS_KEY   = ""
    SPACE_ENDPOINT_URL = ""
    SPACE_LOCATION_URL = ""
    SPACE_NAME         = ""
    SPACE_SECRET_KEY   = ""

    CELERY_RABBITMQ_URL = ""
    CELERY_REDIS_URL    = ""

    SERVER_IP = ""

  }

  staging = {

    DJANGO_SETTINGS_MODULE = "src.settings.staging"

    DJANGO_SECRET_KEY = ""

    DJANGO_SUPERUSER_EMAIL    = ""
    DJANGO_SUPERUSER_USERNAME = ""
    DJANGO_SUPERUSER_PASSWORD = ""

    POSTGRES_DB       = ""
    POSTGRES_HOST     = ""
    POSTGRES_PASSWORD = ""
    POSTGRES_PORT     = ""
    POSTGRES_USER     = ""

    SPACE_ACCESS_KEY   = ""
    SPACE_ENDPOINT_URL = ""
    SPACE_LOCATION_URL = ""
    SPACE_NAME         = ""
    SPACE_SECRET_KEY   = ""

    CELERY_RABBITMQ_URL = ""
    CELERY_REDIS_URL    = ""

    SERVER_IP = ""

  }

  production = {

    DJANGO_SETTINGS_MODULE = "src.settings.production"

    DJANGO_SECRET_KEY = "VdE5DTwf1V47W6Vm6cGvY2N7pcwdbsAHGyUsZSMENpAs4I7s2RZa5WjSoXdu5TB2NUHB11RVxY"

    DJANGO_SUPERUSER_EMAIL    = "admin@crewtech.com"
    DJANGO_SUPERUSER_USERNAME = "admin"
    DJANGO_SUPERUSER_PASSWORD = "wyG2HsfjZXfSs"

    POSTGRES_DB       = "defaultdb"
    POSTGRES_HOST     = "crewtech-production-database-do-user-12579961-0.b.db.ondigitalocean.com"
    POSTGRES_PASSWORD = "AVNS_yscT1sKZWyqorjAXr5r"
    POSTGRES_PORT     = "25060"
    POSTGRES_USER     = "doadmin"

    SPACE_ACCESS_KEY   = "DO00R6JACKUBQGAR8Z3F"
    SPACE_ENDPOINT_URL = "https://fra1.digitaloceanspaces.com"
    SPACE_LOCATION_URL = "https://crewtech-production-bucket-new.fra1.digitaloceanspaces.com"
    SPACE_NAME         = "crewtech-production-bucket-new"
    SPACE_SECRET_KEY   = "bWP8KEZ1kD7wyG2HsfjZXfSs4EYhzaJgzWyj9toWW/Y"

    CELERY_RABBITMQ_URL = "amqps://onvpqoal:ojCBEqS_KRWX28cnxH5dP9KxESv1vMPG@sparrow.rmq.cloudamqp.com/onvpqoal"
    CELERY_REDIS_URL    = "redis://default:ciEdndMEX9o33a6Bhed02KfiQsbmSPjc@redis-13003.c300.eu-central-1-1.ec2.cloud.redislabs.com:13003"

    SERVER_IP = "138.197.186.94"

  }

}
